{% extends 'base.html' %}
{% block content %}

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

 <div class="w3-container w3-padding-32" id="projects">
    <h1 class="text-center">Login to Your Profile</h1>
  </div>
  <div class="w3-row-padding">
            <!-- Login Form -->
            <form method="POST" action="{% url 'login user' %}">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-info mt-2" type="submit">LOGIN</button>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="col-lg-3"></div>
            <h4><i>Don't have a profile yet?</i></h4>
      <a href="{% url 'register' %}" class="btn btn-success">REGISTER</a>

    </div>
</div>
</div>
{% endblock %}