{% extends 'base.html' %}
{% block content %}

{# <h1 class="text-center">Delete Profile</h1>#}
 <div class="w3-container w3-padding-32" id="projects">
    <h1 class="text-center">Are you sure you want to delete your profile?</h1>
    <h3 class="text-center">All data associated with your account will be lost and cannot be recovered.</h3>
  </div>
  <div class="w3-row-padding">
    <div class="row">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'delete profile' user.pk %}" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}


                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}