{% extends 'base.html' %}
{% block content %}
    <section class="register section">
        <div class="container">
            <div class="inner">
                <div class="row">
{#                    <div class="col-lg-6">#}
{#                        <div class="register-left" style="display: flex; align-items: center; justify-content: center;">#}
{#                            <svg height="300px" width="300px" version="1.1" id="Capa_1"#}
{#                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
{#                                 viewBox="0 0 496.997 496.997" xml:space="preserve" fill="#000000">#}
{#                                <!-- Your SVG path here -->#}
{#                            </svg>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-lg-12">
                        <div class="register-form">
                            <h2>Add New Event</h2>
                            <p>If you have any questions, please feel free to contact us.</p>

                            <form class="form" method="post" action="{% url 'add event' %}" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="{{ form.title.id_for_label }}">Title</label>
                                    {{ form.title }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.description.id_for_label }}">Description</label>
                                    {{ form.description }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.location.id_for_label }}">Location</label>
                                    {{ form.location }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.date.id_for_label }}">Date</label>
{#                                    {{ form.date }}#}
                                        <input type="text" id="datepicker"
                                                   name="date"
                                                   placeholder="Date" required="">
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.price.id_for_label }}">Price</label>
                                    {{ form.price }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.photo.id_for_label }}">Photo URL</label>
                                    {{ form.photo }}
                                </div>

                                <button class="btn btn-primary mt-2" type="submit">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ... (other sections or content) ... -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Prevent automatic capitalization for the email input field
            $('#id_email').on('input', function () {
                $(this).val($(this).val().toLowerCase());
            });
        });
    </script>

{% endblock %}
