{% extends 'base.html' %}
{% block content %}


       <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Dashboard NEWS</h3>
  </div>
  <div class="w3-row-padding">
{% for news_piece in news %}
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="{% url 'details news' news_piece.pk %}">
        <div class="w3-display-topleft w3-black w3-padding">{{ news_piece.title|truncatewords:15}} </div>
        <img src="{{ news_piece.photo }}" alt="House" style="width:100%">
            {{ news_piece.subtitle|truncatewords:20 }}
    </a>
</div>
</div>
{% endfor %}
  </div>
{% endblock %}