{% extends 'base.html' %}
{% load static %}
{% block content %}

    	<section class="blog section" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Dashboard NEWS</h2>
{#							<img src="img/section-img.png" alt="#">#}
							<p>Keep up with Our Most Recent Art News.</p>
						</div>
					</div>
				</div>
				<div class="row">
                      {% for news_piece in news %}
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
  <a href="{% url 'details news' news_piece.pk %}">
            <img src="{{ news_piece.photo }}" alt="#">
        </a>							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">{{ news_piece.creation_date }}</div>
									<h2><a href="{% url 'details news' news_piece.pk %}">{{ news_piece.title|truncatewords:15 }}</a></h2>
									<p class="text">{{ news_piece.subtitle|truncatewords:20 }}</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
                                            {% endfor %}

				</div>
			</div>
		</section>
{##}
{# <section class="portfolio section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="section-title">#}
{#                        <h2>Dashboard NEWS</h2>#}
                        {#							<img src="img/section-img.png" alt="#">#}
                        {#							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="container-fluid">#}
{#            <div class="row">#}
{#                <div class="col-lg-12 col-12">#}
{#                    <div class="owl-carousel portfolio-slider">#}
{#                        {% for news_piece in news %}#}
{##}
{#                            <div class="single-pf">#}
{#                                <img src="{{ news_piece.photo }}" alt="#">#}
{#                                <div class="w3-display-topleft w3-black w3-padding">{{ news_piece.title|truncatewords:15 }} </div>#}
{##}
{#                                <a href="{% url 'details news' news_piece.pk %}" class="btn">View Details</a>#}
{##}
{#                            </div>#}
{#                        {% endfor %}#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{#    <div class="w3-container w3-padding-32" id="news">#}
{#    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Dashboard NEWS</h3>#}
{#  <div class="w3-row-padding">#}
{#{% for news_piece in news %}#}
{#    <div class="w3-col l2 m6 w3-margin-top">#}
{#      <div class="w3-display-container">#}
{#        <div class="w3-display-topleft w3-black w3-padding">{{ news_piece.title|truncatewords:15}} </div>#}
{#           <a href="{% url 'details news' news_piece.pk %}">#}
{#            <img src="{{ news_piece.photo }}" alt="House" style="width:100%">#}
{#            {{ news_piece.subtitle|truncatewords:20 }}#}
{#             </a>#}
{#         </div>#}
{#    </div>#}
{#{% endfor %}#}
{#  </div>#}
{#  </div>#}

{% endblock %}