{% extends 'base.html' %}
{% block content %}


{# <div class="w3-row-padding w3-padding-16 w3-center" id="food">#}
{#    <div class="w3-quarter">#}
{#           <a href="{% url 'details event' event.pk %}">#}
{#      <h2>{{ event.title }}</h2>#}
{#                  </a>#}
{##}
{#      <h3>{{ event.description }}</h3>#}
{##}
{#    </div>#}
{##}
{#  </div>#}
{#    {% endfor %}#}
{#    #}

     <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Dashboard EVENTS</h3>
  </div>
  <div class="w3-row-padding">
{% for event in events %}
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="{% url 'details event' event.pk %}">
        <div class="w3-display-topleft w3-black w3-padding">{{ event.title}} </div>
        <div class="w3-display-topright w3-black w3-padding">{{ event.date}} </div>
        <div class="w3-display-bottomright w3-black w3-padding">{{ event.price|floatformat:2 }} €</div>
        <img src="{{ event.photo }}" alt="House" style="width:100%">
    </a>
</div>
</div>
{% endfor %}
</div>

{% endblock %}