{% extends 'base.html' %}
{% block content %}

      <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Dashboard TECHNIQUES</h3>
       <a class="btn btn-success btn-lg" href="{% url 'add technique' %}" role="button">ADD NEW TECHNIQUE</a>

       </div>
  <div class="w3-row-padding">
{% for technique in techniques %}
      <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="{% url 'details technique' technique.pk %}">
        <div class="w3-display-topleft w3-black w3-padding">{{ technique.name}} </div>
        <img src="{{ technique.photo.url }}" alt="House" style="width:100%">

    </a>
</div>
</div>
{% endfor %}
  </div>

{% endblock %}

