{% extends 'base.html' %}
{% block additional_head %}
    <!-- Exclude the Nice Select script for this view -->
{% endblock %}
{% block content %}
    <div class="col-lg-6">
                {#                    <div class="login-left">#}

                <!-- Add any content for the left side if needed -->
                {#                    </div>#}
            </div>
    <div class="w3-row-padding">
        <div class="row justify-content-center align-items-center">
            {#    <h1 class="text-center">Edit Art</h1>#}

            <div class="contact-us">
                <div class="contact-us-form ">
                    <h2>Edit Art</h2>
                    {#                <p>If you have any questions, please feel free to contact us.</p>#}
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" action="{% url 'edit art' art_object.pk %}" enctype="multipart/form-data">
                    {{ form }}
                    {% csrf_token %}
<br>
<br>

                    <button class="btn btn-primary mt-2" type="submit">Update</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}