{% extends 'base.html' %}
{% block content %}
{% load static %}


<section class="about-area section">
<div class="container-fluid p-0">
<div class="row m-0">
<div class="col-lg-6 col-md-12 p-0">
<div class="about-image">
</div>
</div>
<div class="col-lg-6 col-md-12 p-0">
<div class="about-content">
<span>About Us</span>
<h2>Our Artistic Journey Since 2022</h2>
<p>Welcome to our vibrant community of artists and art appreciators! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
<ul>
  <li><i class="icofont-tick-mark"></i> Unlock Your Artistic Potential with Scientific Skills</li>
  <li><i class="icofont-tick-mark"></i> Connect and Share through Effective Communication Skills</li>
  <li><i class="icofont-tick-mark"></i> Explore Career Opportunities in the World of Art</li>
  <li><i class="icofont-tick-mark"></i> Immerse Yourself in a Supportive and Creative Work Environment</li>
  <li><i class="icofont-tick-mark"></i> Cultivate Scientific Skills for Achieving Artistic Excellence</li>
  <li><i class="icofont-tick-mark"></i> Foster Meaningful Connections through Strong Communication</li>
</ul>
</div>
</div>
</div>
</div>
</section>

{% endblock %}