{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- Slider Area -->
    <section class="slider">
        <div class="hero-slider">
            <!-- Start Single Slider -->
            <div class="single-slider" style="background-image:url('{% static 'images/header-5.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">
                                <h1>The <span>Art</span>Hub<span>!</span></h1>
                                <p>brings together Art-lovers and Artists of all disciplines and experience </p>
                                <div class="button">
                                    <a href="#" class="btn">Contact</a>
                                    <a href="#" class="btn primary">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slider -->
            <!-- Start Single Slider -->
            <div class="single-slider" style="background-image:url('{% static 'images/header-4.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">
                                 <h1>The <span>Art</span>Hub<span>!</span></h1>
                                <p>brings together Art-lovers and Artists of all disciplines and experience </p>
                                <div class="button">
                                              <a href="#" class="btn">Contact</a>
                                    <a href="#" class="btn primary">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start End Slider -->
            <!-- Start Single Slider -->
            <div class="single-slider" style="background-image:url('{% static 'images/header-3.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">
                                  <h1>The <span>Art</span>Hub<span>!</span></h1>
                                <p>brings together Art-lovers and Artists of all disciplines and experience </p>
                                <div class="button">
                                      <a href="#" class="btn">Contact</a>
                                    <a href="#" class="btn primary">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slider -->
        </div>
    </section>
    <!--/ End Slider Area -->
{#    <header class="w3-container w3-teal w3-center" style="padding:128px 16px">#}
{#        <h1 class="w3-margin w3-jumbo"><i>The</i> <b>ARTHUB</b></h1>#}
{#        <p class="w3-xlarge">brings together Art-lovers and Artists of all disciplines and experience</p>#}
{#    </header>#}

    <section class="portfolio section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Popular Artwork:</h2>
                        {#							<img src="img/section-img.png" alt="#">#}
                        {#							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="owl-carousel portfolio-slider">
                        {% for art_piece in art %}
                            <div class="single-pf">
                                <img src="{{ art_piece.photo.url }}" alt="Art">
                                <div class="w3-display-topleft w3-black w3-padding">{{ art_piece.title }}</div>
                                <div class="w3-display-topright w3-black w3-padding"><i class="fa fa-heart-o"
                                                                                           aria-hidden="true"></i>{{ art_piece.likes }}
                                </div>
                                <a href="{% url 'details art' art_piece.pk %}" class="btn">View Details</a>

                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b><u>Latest News:</u></b></h3>#}
    <section class="portfolio section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Latest News:</h2>
                        {#							<img src="img/section-img.png" alt="#">#}
                        {#							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="owl-carousel portfolio-slider">
                        {% for news_piece in news %}

                            <div class="single-pf">
                                <img src="{{ news_piece.photo.url }}" alt="#">
                                <div class="w3-display-topleft w3-black w3-padding">{{ news_piece.title|truncatewords:15 }} </div>

                                <a href="{% url 'details news' news_piece.pk %}" class="btn">View Details</a>

                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    <div class="w3-container w3-padding-32" id="news">#}
    {#    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b><u>Latest News:</u></b></h3>#}
    {#  </div>#}
    {#  <div class="w3-row-padding">#}
    {#{% for news_piece in news %}#}
    {#    <div class="w3-col l3 m6 w3-margin-bottom">#}
    {#      <div class="w3-display-container">#}
    {#        <a href="{% url 'details news' news_piece.pk %}">#}
    {#        <div class="w3-display-topleft w3-black w3-padding">{{ news_piece.title|truncatewords:15}} </div>#}
    {#        <img src="{{ news_piece.photo }}" alt="House" style="width:100%">#}
    {#            {{ news_piece.subtitle|truncatewords:20 }}#}
    {#    </a>#}
    {#</div>#}
    {#</div>#}
    {#    {% endfor %}#}
    {#  </div>#}
{% endblock %}