{% extends 'base.html' %}
{% block content %}
{#{% for art_piece in art %}#}
{# <div class="w3-row-padding w3-padding-16 w3-center" id="food">#}
{#    <div class="w3-quarter">#}
{#      <img src="{{ art_piece.photo.url }}" alt="Art" style="width:100%">#}
{#      <h3>{{ art_piece.title }}</h3>#}
{#      <p>{{ art_piece.description }}</p>#}
{#      <p><i class="fa fa-heart-o" aria-hidden="true"></i>{{ art_piece.likes }}</p>#}
{#    </div>#}
{#  </div>#}
{#    {% endfor %}#}

    <header class="w3-container w3-teal w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo"><i>The</i> <b>ARTHUB</b></h1>
  <p class="w3-xlarge">brings together Art-lovers and Artists of all disciplines and experience</p>
</header>

    <div class="w3-container w3-padding-32" id="artworks">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b><u>Popular Artwork:</u></b></h3>
  </div>
  <div class="w3-row-padding">
      {% for art_piece in art %}
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
          <a href="{% url 'details art' art_piece.pk %}">
        <div class="w3-display-topleft w3-black w3-padding">{{ art_piece.title}}</div>
        <div class="w3-display-topright w3-black w3-padding"><p><i class="fa fa-heart-o" aria-hidden="true"></i>{{ art_piece.likes }}</p></div>
       <img src="{{ art_piece.photo.url }}" alt="Art" style="width:100%">
{#          <img src='{{  art_piece.photo.url  }}' hspace='40' vspace='40' style='width:80%;height:60%;'>#}
{#              <img src='{{ art_piece.photo.url}}' width='500px' height='250px'/>#}


          </a>
      </div>
    </div>
            {% endfor %}
 </div>
    <div class="w3-container w3-padding-32" id="news">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b><u>Latest News:</u></b></h3>
  </div>
  <div class="w3-row-padding">
{% for news_piece in news %}
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="{% url 'details news' news_piece.pk %}">
        <div class="w3-display-topleft w3-black w3-padding">{{ news_piece.title|truncatewords:15}} </div>
        <img src="{{ news_piece.photo }}" alt="House" style="width:100%">
            {{ news_piece.subtitle|truncatewords:20 }}
    </a>
</div>
</div>
    {% endfor %}
  </div>
{% endblock %}